<!-- Receipt item title -->
<span style="margin-left: 9.75rem; font-weight: bold;">
  {{ receiptItem?.shortDescription || "Add Item" }}
</span>

<table style="margin-top: 1rem;" cellspacing="0">
  <tr>
    <td>
      <!-- Receipt item short description -->
      <mat-form-field class="{{ inputFieldStyles }}">
        <mat-label for="short-description">
          Short Description
        </mat-label>
        <input
          [disabled]="editingReceiptItem"
          id="short-description" 
          matInput 
          type="text"
          value="{{receiptItem?.shortDescription || ''}}"
          #shortDescription
        >
      </mat-form-field>
    </td>
    <td style="padding-left: 0.25rem;">
      <!-- Receipt item price -->
      <mat-form-field class="{{ inputFieldStyles }}">
        <mat-label for="price">
          Price
        </mat-label>
        <input
          [disabled]="editingReceiptItem"
          id="price" 
          matInput 
          type="number" 
          value="{{receiptItem?.price || ''}}" 
          #price
        >
      </mat-form-field>
    </td>
    <!-- Receipt item edit toggle button -->
    <!-- This should only be displayed for ReceiptItems that have previously been added, not the template ReceiptItem -->
    <td *ngIf="receiptItem">
      <button
        class="edit-button"
        type="button"
        mat-icon-button
        (click)="editReceiptItem()"
      >
        <mat-icon fontIcon="edit"/>
      </button>
    </td>
  </tr>
</table>
<div *ngIf="!receiptItem">
  <!-- Button displayed only if this element is the template one -->
  <!-- NOTE: Add "+" icon to this button if possible to make it look nice -->
  <button
    class="submit-button"
    type="button"
    mat-raised-button
    (click)="addReceiptItem(shortDescription.value, price.value)"
  >
    Add Item
  </button>
</div>

<mat-divider *ngIf="receiptItem"/>