mat-form-field {
  width: 12rem;
}

.added-item-style {
  width: 12rem;
}

.template-style {
  width: 13.8rem;
}

.edit-button {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.submit-button {
  width: 27rem;
  margin-left: 0.5rem;
}

mat-divider {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  width: 26.75rem;
}
