mat-form-field {
  width: 12rem;
}

.edit-button {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.submit-button {
  width: 27rem;
  margin-left: 0.65rem;
}

mat-divider {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  width: 22rem;
}
