<!-- Receipt item title -->
<span style="margin-left: 9.75rem; font-weight: bold;">
  {{ receiptItem?.shortDescription || "Add Item" }}
</span>

<table style="margin-top: 1rem;" cellspacing="0">
  <tr>
    <td>
      <!-- Receipt item short description -->
      <mat-form-field>
        <mat-label for="short-description">
          Short Description
        </mat-label>
        <input
          disabled="{{ receiptItem !== undefined }}"
          id="short-description" 
          matInput 
          type="text"
          value="{{receiptItem?.shortDescription || ''}}"
          #shortDescription
        >
      </mat-form-field>
    </td>
    <td>
      <!-- Receipt item price -->
      <mat-form-field>
        <mat-label for="price">
          Price
        </mat-label>
        <input
          disabled="{{ receiptItem !== undefined }}"
          id="price" 
          matInput 
          type="text" 
          value="{{receiptItem?.price || ''}}" 
          #price
        >
      </mat-form-field>
    </td>
  </tr>
</table>
<div *ngIf="!receiptItem">
  <!-- Button displayed only if this element is the template one -->
  <!-- NOTE: Add "+" icon to this button if possible to make it look nice -->
  <button
    mat-raised-button
    (click)="addReceiptItem(shortDescription.value, price.value)"
  >
    Add Item
  </button>
</div>

<mat-divider *ngIf="receiptItem"/>